
<html>
<body>
<div class="demo-layout"><div class="clearfix"></div><div class="div-layout">
<div class="frame-for-layout frame_36 smartscreenlayouts-list_frame-0-frame" style="
    background-color: #ffff00;
    width: 100%;
    height: 73%;
    left: 0%;
    top: 0%;
    position: absolute;
    z-index: 0;
    border: 1px solid darkgrey;
    ">
        <iframe frameborder="0" src="./../galleries/index.html" width="100%" height="100%"></iframe></div>

<div class="frame-for-layout frame_37 smartscreenlayouts-list_frame-1-frame" style="
    background-color: #0000ff;
    width: 30%;
    height: 27%;
    left: 0%;
    top: 73%;
    position: absolute;
    z-index: 1;
        border: 1px solid darkgrey;
    ">
        <iframe frameborder="0" src="./../galleries/index.html" width="100%" height="100%"></iframe></div>


<div class="frame-for-layout frame_38 smartscreenlayouts-list_frame-2-frame" style="
    background-color: #00ff00;
    width: 35%;
    height: 27%;
    left: 30%;
    top: 73%;
    position: absolute;
    z-index: 2;
        border: 1px solid darkgrey;
    ">
        <iframe frameborder="0" src="./../galleries/index.html" width="100%" height="100%"></iframe></div>


<div class="frame-for-layout frame_39 smartscreenlayouts-list_frame-3-frame" style="
    background-color: #ff00ff;
    width: 35%;
    height: 27%;
    left: 65%;
    top: 73%;
    position: absolute;
    z-index: 3;
        border: 1px solid darkgrey;
    ">
        <iframe frameborder="0" src="./../galleries/index.html" width="100%" height="100%"></iframe></div>

</div><div class="clearfix"></div></div></body></html>